.f3cc {
  font-size: 16px;
  line-height: 1.3;

  --_b: var(--f3cc-background, #e9e9e9);
  --_f: var(--f3cc-foreground, #000000);
  --_B: var(--f3cc-button-background, #cbcbcb);
  --_A: var(--f3cc-accept-background, #90f690);
  --_F: var(--f3cc-button-foreground, var(--_f));
}

.f3cc .f3cc-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--_b);
  color: var(--_f);
  z-index: 2000;
  padding: 1rem 1rem 1.25rem;
}

.f3cc .f3cc-embed {
  background: var(--_b);
  color: var(--_f);
  padding: 4rem;
}

.f3cc .f3cc-container {
  display: flex;
  gap: 2rem;
  max-width: 70em;
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 60rem) {
  .f3cc .f3cc-container {
    width: 100%;
    flex-direction: column;
  }
}

.f3cc .f3cc-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.f3cc .f3cc-description a {
  color: inherit;
  text-decoration: underline;
}

.f3cc .f3cc-description a:hover {
  opacity: 0.7;
}

.f3cc .f3cc-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

.f3cc .f3cc-button {
  display: inline-block;
  background: var(--_B);
  color: var(--_F);
  padding: 0.8rem 1.2rem;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
}

.f3cc .f3cc-button:hover {
  opacity: 0.7;
}

.f3cc .f3cc-button.accept {
  background: var(--_A);
}

.f3cc .f3cc-button.modify {
  position: fixed;
  z-index: 2000;
  bottom: 1rem;
  right: 1rem;
}

.f3cc-embed .f3cc-description {
  margin-bottom: 1em;
}
